[package]
name = "mprober"
version = "0.11.0-beta.4"
authors = ["Magic Len <len@magiclen.org>"]
edition = "2018"
repository = "https://github.com/magiclen/m-prober"
homepage = "https://magiclen.org/m-prober"
keywords = ["probe", "mprober", "m-prober", "linux", "monitor"]
categories = ["command-line-utilities"]
description= "This program aims to collect Linux system information including hostname, kernel version, uptime, RTC time, load average, CPU, memory, network interfaces, block devices and processes. It can be used not only as a normal CLI tool, but also a web application with a front-end webpage and useful HTTP APIs."
readme = "README.md"
license = "MIT"
include = ["src/**/*", "Cargo.toml", "front-end/**/*", "views/**/*"]

[badges.travis-ci]
repository = "magiclen/m-prober"
branch = "master"

[profile.release]
panic = "abort"

[dependencies]
mprober-lib = "0.1"

clap = "2.33.1"
concat-with = "0.2"
terminal_size = "0.1"

byte-unit = "4"
termcolor = "1"
getch = "0.2"
lazy_static = "1"

rand = "0.7"
serde_json = "1"
chrono = "0.4"
regex = "1"
users = "0.10"

benchmarking = "0.4"
base64 = "0.12"

rocket = "0.4.2"
rocket-simple-authorization = "0.9"
rocket-cache-response = "0.5"
rocket-json-response = "0.5"
rocket-include-static-resources = "0.9"
rocket-include-handlebars = "0.12"

[dependencies.validators]
version = "0.20"
features = ["rocketly"]